.login-form-container {
    margin: 0 auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    background-color: var(--borders);
    border-radius: .5em;
}

.login-form-input {
    padding: .25em;
    border: none;
    outline: none;
    border-radius: .5em;
    width: 250px;
    max-width: 400px;
    background: var(--text-secondary);
}

.login-form-label:nth-child(4) {
    padding-top: .7em;
    padding-bottom: .3em;
}

.login-form-label:nth-child(2) {
    padding-top: 1em;
    padding-bottom: .3em;
}

.login-form-button {
    padding: .25em 1em;
    border: none;
    border-radius: .5em;
    background-color: var(--body-primary);
    color: var(--text-secondary);
    margin-top: 1em;
    cursor: pointer;
    transition: .3s ease-in;
    filter: blur(0);
}

.login-form-button:hover {
   transform: scale(1.05);
}