.workouts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5em;
    max-width: 1400px;
    row-gap: 1em;
    column-gap: 1em;
}

.workout-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    background-color: var(--text-background);
    border-radius: .25em;
    margin: .5em .5em;
    width: 20em;
    box-shadow: 16px 16px 11px -6px #18262b;
}

.workout-details .workout-rows {
    text-align: left;
    padding: 0 .25em;
}

.workout-details .workout-title {
    text-align: center;
    padding: 0 .25em;
    margin-bottom: 0.25em;
}

.workout-details .workout-title a {
    text-decoration: none;
    color: var(--borders);
}

.delete-icon {
    position: relative;
    bottom: 1em;
    left: 12.35em;
    font-size: 1.25em;
    cursor: pointer;
    transition: all .3s ease-in;
}

.delete-icon:hover {
    transform: rotateY(180deg);
    color: var(--body-primary);
}